@charset "utf-8";
@import "mixin";

/* 信息提示窗口 */
.msgbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin: auto;
  min-width: 320px;
  max-width: 750px;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);

  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: px2rem(30px);
    width: 80%;
    border-radius: px2rem(10px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &-loading {
      position: relative;
      margin: 0 auto;
      width: 1rem;
      height: 1rem;
      font-size: .2rem;
      text-align: center;
      line-height: 1rem;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 1rem;
        height: 1rem;
        border: 2px dashed #ddd;
        border-radius: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-animation: loading 4s linear infinite;
        animation: loading 4s linear infinite;
      }
    }
    &-tips {
      @include font-dpr(18px);
      font-weight: normal;
      color: #444;
      line-height: 2;
      text-align: center;
    }
    &-btns {
      @include flexbox;
      @include flexbox-hc(center, center);
      @include flexbox-vc();
      margin-top: px2rem(20px);

      a {
        @include flex();
        display: block;
        margin: 0 px2rem(10px);
        width: 30%;
        max-width: 30%;
        @include font-dpr(14px);
        color: #fff;
        text-align: center;
        line-height: 2;
        border-radius: 5px;
        background: #a5a5a5;

        &.ok {
          background: #3fb342;
        }
        &.err {
          background: #f00;
        }
      }
    }
  }
}