@charset "utf-8";
@import "../../../libs/mixin";

.MSlide {
  position: relative;
  width: 100%;
  overflow: hidden;

  &-list {
    font-size: 0;

    ul {
      white-space: nowrap;
    }
    li {
      display: inline-block;
      width: 100%;
    }
    img {
      display: block;
    }
  }

  &-idx {
    position: absolute;
    left: 0;
    bottom: px2rem(30px);
    z-index: 5;
    width: 100%;
    height: 0;

    ul {
      @include flexbox;
      @include flexbox-vc();
      @include flexbox-hc(center, center);
    }
    li {
      margin: 0 px2rem(10px);
      width: px2rem(30px);
      height: px2rem(5px);
      background: rgba(255, 255, 255, .5);
      -webkit-transition: all .3s;
      transition: all .3s;

      &.on {
        width: px2rem(50px);
        background: rgba(255, 255, 255, .9);
      }
    }
  }
}